:root {
  --app-color1: #0A5D6B;
  --app-color2: #148F97;
  --app-color-black: #303030;
  --app-color3-white: #F5F5F5;
  --box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  
}